@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
}

/* common section  */

.heading {
  color: #131318;
  font-size: 2em;
  font-weight: 800;
}

.primary-1 {
  color: #131318b2;
  font-size: 1em;
  font-weight: 400;
}

.primary-2 {
  color: #5a5a5d;
  font-size: 1em;
  font-weight: 400;
}

.btn {
  color: #ffffff;
  font-size: 1em;
  font-weight: 800;
  padding: 14px 34px;
  border: none;
  border-radius: 8px;
  background-color: #ff5400;
}

.btn:hover {
  cursor: pointer;
  color: black;
}

/* nav bar section  */

.nav-bar-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 40px;
}

.nav-bar-container > img {
  display: none;
}

.nav-bar-container ul {
  display: flex;
  gap: 40px;
}

.nav-bar-container li {
  list-style: none;
}

.nav-bar-container a {
  text-decoration: none;
  color: #424247;
}

.brand {
  display: flex;
  color: #131318;
  font-size: 2em;
  font-weight: 800;
  gap: 20px;
}

.brand span {
  color: #ff5400;
}

/* banner section  */

.banner-container {
  max-width: 1170px;
  max-height: 500px;
  background-image: url(Images/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  border-radius: 16px;
  margin: 0 auto;
  padding: 106px 0px;
}

.banner-container h2 {
  color: #ffffff;
  font-size: 3em;
  font-weight: 800;
  text-align: center;
  padding-bottom: 24px;
}

.banner-container p {
  color: #ffffff;
  font-size: 1em;
  font-weight: 400;
  text-align: center;
  padding: 0 287px;
  padding-bottom: 48px;
}

.location-container {
  display: flex;
  justify-content: center;
}

.location {
  width: fit-content;
  color: #ffffff;
  border-radius: 8px;
  padding: 16px;
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  gap: 24px;
}

.location input {
  width: 174px;
  border: none;
  border-radius: 8px;
  padding: 10px;
}

.location button {
  width: 174px;
  color: #ffffff;
  border: none;
  padding: 10px;
  border-radius: 8px;
  background-color: #ff5400;
  display: flex;
  align-items: center;
  gap: 10px;
}

.location button > img {
  padding-left: 30px;
}

.location button:hover {
  cursor: pointer;
  color: black;
}

/* tour section  */

.tour-container {
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.tour-content {
  width: 577px;
}

.tour-content p {
  padding-top: 24px;
  padding-bottom: 24px;
}

.tour-content ul {
  padding-left: 30px;
}

.tour-content li {
  padding-bottom: 10px;
}

/* destination section  */

.destination-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 40px;
}

.destination-content p {
  width: 643px;
  padding-top: 24px;
}

/* card section  */

.card-container p {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 800;
}

.row-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  width: fit-content;
  gap: 24px;
  padding-bottom: 24px;
}

.row-1-left {
  position: relative;
}

.row-1-left p {
  position: absolute;
  top: 45%;
  left: 40%;
}

.row-1-right {
  position: relative;
}

.row-1-right p {
  position: absolute;
  top: 45%;
  left: 40%;
}

.row-2 {
  display: grid;
  grid-template-columns: 0.75fr 1fr 0.5fr;
  margin: 0 auto;
  width: fit-content;
  gap: 24px;
  padding-bottom: 24px;
}

.row-2-left {
  position: relative;
}

.row-2-left p {
  position: absolute;
  top: 40%;
  left: 38%;
}

.row-2-middle {
  position: relative;
}

.row-2-middle p {
  position: absolute;
  top: 40%;
  left: 33%;
}

.row-2-right {
  position: relative;
}

.row-2-right p {
  position: absolute;
  top: 45%;
  left: 33%;
}

.row-3 {
  display: grid;
  grid-template-columns: 0.75fr 1fr;
  width: fit-content;
  margin: 0 auto;
  padding-bottom: 24px;
}

.row-3-left {
  position: relative;
}

.row-3-left p {
  position: absolute;
  top: 45%;
  left: 35%;
}

.row-3-right {
  position: relative;
}

.row-3-right p {
  position: absolute;
  top: 45%;
  left: 40%;
}

/* choose section  */

.choose-container {
  margin-top: 60px;
  margin-bottom: 50px;
}

.choose-header {
  text-align: center;
  align-content: center;
  padding-bottom: 3em;
}

.choose-header p {
  color: #131318b2;
  font-size: 1em;
  font-weight: 400;
  width: 643px;
  margin: auto;
  padding-top: 1.5em;
}

.choose-row-1,
.choose-row-2 {
  display: flex;
  justify-content: center;
  gap: 1.5em;
}

.choose-row-2 {
  margin-top: 1.5em;
}

.choose-card {
  width: 573px;
  background-color: #29cef633;
  padding: 2em;
  border-radius: 1em;
}

.choose-card h5 {
  padding-top: 2em;
  padding-bottom: 1em;
}

.first-card {
  border: 1px solid rgba(251, 181, 99, 0.2);
  background-color: rgba(251, 181, 99, 0.05);
}

.second-card {
  border: 1px solid rgba(41, 206, 246, 0.2);
  background-color: rgba(41, 206, 246, 0.05);
}

.third-card {
  border: 1px solid rgba(233, 68, 68, 0.2);
  background-color: rgba(233, 68, 68, 0.05);
}

/* Responsive section  */

@media screen and (max-width: 576px) {
  /* nav bar + banner section  */

  .nav-bar-container ul {
    display: none;
  }

  .nav-bar-container > img {
    display: inline;
  }

  .banner-container {
    padding-top: 20px;
    width: 90%;
  }

  .banner-container h2 {
    width: 100%;
    font-size: 2em;
  }

  .banner-container p {
    width: 100%;
    padding: 0 10px;
    padding-bottom: 20px;
  }

  .location {
    flex-direction: column;
    width: 80%;
  }

  .location input {
    width: 100%;
  }

  .location button {
    width: 100%;
  }

  .location button > img {
    margin-left: 50px;
  }

  /* tour section  */

  .tour-container {
    padding-top: 20px;
    flex-direction: column;
  }

  .tour-content {
    width: 80%;
  }

  .tour-container img {
    width: 80%;
  }

  /* destination section  */

  .destination-content h3 {
    font-size: 1.5rem;
    padding-bottom: 10px;
    text-decoration: underline;
  }
  .destination-content p {
    width: 100%;
    padding: 0 10px;
  }

  .card-container {
    width: 100%;
  }

  .card-container img {
    width: 100%;
    height: 250px;
    padding: 0 20px;
  }

  .row-1,
  .row-2,
  .row-3 {
    grid-template-columns: 1fr;
    gap: 0;
    padding: 0;
  }

  /* choose section  */

  .choose-header p {
    width: 100%;
  }

  .choose-row-1, .choose-row-2 {
    flex-direction: column;
    padding-left: 2em;
  }


  .choose-card {
    width: 90%;
  }
}
